// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = R-VPN+

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = app.rvpn.plus

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 Xenex Networks LLC. All rights reserved.
